body {
    background: #222;
    margin: 0;
}

.debug {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 200px;
  background: #fff;
  padding: 10px;
}

#map-container {
	position: relative;
}

#map-cover {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to left, rgba(0, 0, 0, 0), #222);
	z-index: 2;
	pointer-events: none;
}

#map-svg {
    border: 1px solid red;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width: 600px) {
	#map-cover {
		display: none;
	}
}

circle.distillery {
    cursor: pointer;
}

circle.distillery>div.tooltip {
    display: none;
}

circle.distillery:hover>div.tooltip {
    display: block;
}

#map .country {
    fill: #ddd;
    fill-opacity: 0.6;
    stroke-width: 0.5;
    /* 0.25 to 5 */
    opacity: 0.6;
    /*  0 to 0.5 */
}