#map {
  background: #ddd;

  &.dark {
    background: #222;

    .country {
      fill: #ddd;
    }
  }

  .country {
    fill: #222;
    fill-opacity: 0.6;
    stroke-width: 0.5;
    /* 0.25 to 5 */
    opacity: 0.6;
    /*  0 to 0.5 */
  }

  .distillery, .company {
    cursor: pointer;

    &:hover {
      fill: white;
    }
  }

  .company {
    fill: red;
  }
}

#toggle-ui-mode {
  position: absolute;
  right: 20px;
  top: 20px;
}
