.tooltip {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 400px;
  z-index: 2;
  overflow: scroll;
  // mask-image: linear-gradient(to right, black 0%, black 60%, rgba(0,0,0,0) 100%);
  // pointer-events: none;

  .image {
    height: 200px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .entity-info {
    padding: 20px;
    background: white;
  }

  .distillery-info, .company-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: white;
    // background: linear-gradient(to top, #000 0%, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0));
    background-color: black;
  }
}
