{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Scottish Distilleries</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/d3-array.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo.v1.min.js"></script>
  <script src="https://d3js.org/d3-drag.v1.min.js"></script>
  <script src="https://d3js.org/d3-zoom.v1.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <style>
  body {
    background: #222;
  }

  .debug {
    background: #fff;
    padding: 10px;
  }

  svg {
    border: 1px solid red;
    background: rgba(0, 0, 0, 0);
  }

  circle.distillery {
    cursor: pointer;
  }

  circle.distillery > div.tooltip {
    display: none;
  }

  circle.distillery:hover > div.tooltip {
    display: block;
  }

  #map .country {
    fill: #ddd;
    fill-opacity: 0.6;
    stroke-width: 0.5;
    /* 0.25 to 5 */
    opacity: 0.6;
    /*  0 to 0.5 */
  }
  </style>

</head>

<body>
  <p id="mouse-coordinates" class="debug">x: -- y: --</p>
  <svg></svg>

  <script>
  var distilleries = [];

  {% for distillery in distilleries %}
  distilleries.push({
    name: '{{ distillery.name }}',
    coordinates: [parseFloat('{{ distillery.longitude }}'), parseFloat('{{ distillery.latitude }}')],
    region: '{{ distillery.region|default:"Other" }}',
    year_established: '{{ distillery.year_established|default:"Unknown" }}',
  });
  {% endfor %}

  var colors = {
    Speyside: 'red',
    Lowland: 'orange',
    Highland: 'green',
    Islay: 'blue',
    Island: 'brown',
    Campbeltown: 'purple',
    Other: 'white',
  }

  document.addEventListener('DOMContentLoaded', function() {

    // Define map size on screen
    var width = 500,
      height = 800,
      svg, g, path;

    svg = d3.select("body svg")
      .attr("width", width)
      .attr("height", height);

    g = svg.append("g");

    d3.json("{% static 'json/topo-scotland.json' %}").then(ready);

    // Align map
    projection = d3.geoMercator()
      .translate([width / 2 + 230, height * 5 + 100])
      .scale(3000);

    path = d3.geoPath()
      .projection(projection);

    d3.select(self.frameElement).style("height", height + "px");
    g.attr("id", "map");

    // DEBUG mouse move on svg
    var debugOutput = document.getElementById('mouse-coordinates');
    document.querySelector('svg').onmousemove = function clicked(evt) {
      var e = evt.target;
      var dim = e.getBoundingClientRect();
      var x = evt.clientX - dim.left;
      var y = evt.clientY - dim.top;
      debugOutput.innerHTML = "x: " + x + " y:" + y;
    }

    function redraw(distilleries, zoomScale) {
      // Add distillery locations to map
      g.selectAll("circle")
        .data(distilleries)
        .enter()
        .append("circle")
        .attr("class", "distillery")
        .attr("cx", (d) => projection(d.coordinates)[0])
        .attr("cy", (d) => projection(d.coordinates)[1])
        .attr("r", "2px")
        .attr("fill", (d) => colors[d.region])
        .attr("data-name", (d) => d.name)
        .attr("data-region", (d) => d.region)
        .attr("data-year-est", (d) => d.year_established)
    }

    function ready(shp, err) {

      // Extracting polygons and contours
      var scotland = topojson.feature(shp, shp.objects.eer);

      // Draw Scotland map
      g.selectAll(".country")
        .data(scotland.features)
        .enter()
        .append("path")
        .attr("class", "country")
        .attr("d", path);

      redraw(distilleries, 2);

      svg.call(d3.zoom().on('zoom', function() {
        g.attr("transform", d3.event.transform);

        dynamicScale = document.querySelector('g')
          .getAttribute('transform')
          .match(/.*(scale\(.*\)).*/)[1]
          .match(/\((.*)\)/)[1];

        // Add distillery locations to map
        svg.selectAll("circle")
          .remove();

        redraw(distilleries, 2 / Math.sqrt(dynamicScale));
      }));
    }
  });
  </script>
</body>

</html>