{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Scottish Distilleries</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  {# <script src="https://d3js.org/d3-array.v1.min.js"></script> #}
  {# <script src="https://d3js.org/d3-geo.v1.min.js"></script> #}
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <style>
  body {
    background: #222;
  }

  svg {
    border: 1px solid red;
    background: rgba(0, 0, 0, 0);
  }

  #map .country {
    fill: #ddd;
    fill-opacity: 0.6;
    stroke-width: 0.5;
    /* 0.25 to 5 */
    opacity: 0.6;
    /*  0 to 0.5 */
  }
  </style>
  <script>
  document.addEventListener('DOMContentLoaded', function() {

    // Define map size on screen
    // var width = 698,
    //   height = 1032,
    var width = 960,
      height = 500,
      svg, g, path;

    svg = d3.select("body svg")
      .attr("width", width)
      .attr("height", height);

    g = svg.append("g");

    console.log('loading JSON...');

    d3.json("{% static 'json/topo-scotland.json' %}").then(ready);

    // Align map
    projection = d3.geoMercator()
      // .translate([width / 2, height / 2])
      // .scale(5000)
      // // .center(237922, 692419)
      // .translate([560, 2550]); /* basically arbitrary, trial and error to find these values */

    path = d3.geoPath()
      .projection(projection);

    d3.select(self.frameElement).style("height", height + "px");
    g.attr("id", "map");

    function ready(shp, err) {

      console.log(shp);

      // Extracting polygons and contours
      var scotland = topojson.feature(shp, shp.objects.eer);

      // Draw Scotland map
      g.selectAll(".country")
        .data(scotland.features)
        .enter()
        .append("path")
        .attr("class", "country")
        .attr("d", path);

      // points
      CENTER_OF_EARTH = [0, 0];
      points = [];
      for (i = 0; i <= 9; i++) {
        points.push([0, i * 10]);
      }

      bowmore = [55.75602, -6.28381];
      auchentoshen = [55.92237, -4.43934];
      jura = [55.83301, -5.95143];
      tomatin = [57.34110, -4.01003];
      highland_park = [58.96701, -2.95222];

      points = [bowmore, auchentoshen, jura, tomatin, highland_park]

      // Switch lat/long
      points = points.map((c) => [c[1], c[0]])

      // console.log(projection(bowmore));

      // add states from topojson
      // svg.selectAll("path")
      //   .data(scotland).enter()
      //   .append("path")
      //   .attr("class", "feature")
      //   .style("fill", "steelblue")
      //   .attr("d", path);

      console.log(points);

      // Add distillery locations to map
      g.selectAll("circle")
        .data(points)
        .enter()
        .append("circle")
        .attr("cx", function(d) { return projection(d)[0]; })
        .attr("cy", function(d) { return projection(d)[1]; })
        // .attr("cx", function(d) { console.log(projection(d)); return projection(d)[1] - 6640; })
        // .attr("cy", function(d) { return projection(d)[0] - 5400; })
        .attr("r", "1px")
        .attr("fill", "red");

      svg.call(d3.zoom().on('zoom', function() {
        g.attr("transform", d3.event.transform);
      }))

    }
  });
  </script>
</head>

<body>
  <svg>
</body>

</html>