{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Scottish Distilleries</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <style>
  body {
    background: #222;
  }

  svg {
    border: 1px solid red;
    background: rgba(0,0,0,0);
  }

  #map .country {
    fill: #ddd;
    fill-opacity: 0.6;
    stroke-width: 0.5;
    /* 0.25 to 5 */
    opacity: 0.6;
    /*  0 to 0.5 */
  }
  </style>
  <script>
  document.addEventListener('DOMContentLoaded', function() {

    // Define map size on screen
    var width = 700,
      height = 800,
      svg, g, path;

    svg = d3.select("body svg")
      .attr("width", width)
      .attr("height", height);

    g = svg.append("g");

    console.log('loading JSON...');

    d3.json("{% static 'json/topo-scotland.json' %}").then(ready);

    // Align map
    projection = d3.geoMercator()
      .scale(5000)
      // .center(237922, 692419)
      .translate([760, 6500]); /* basically arbitrary, trial and error to find these values */

    path = d3.geoPath()
      .projection(projection);

    d3.select(self.frameElement).style("height", height + "px");
    g.attr("id", "map");

    function ready(shp, err) {

      console.log(shp);

      // Extracting polygons and contours
      var scotland = topojson.feature(shp, shp.objects.eer);

      // Draw Scotland map
      g.selectAll(".country")
        .data(scotland.features)
        .enter()
        .append("path")
        .attr("class", "country")
        .attr("d", path);

    }

    // g.append("rect") // the canvas frame
    //   .attr("x", 0).attr("y", 0)
    //   .attr("class", "map_canvas")
    //   .attr("width", width).attr("height", height);
    // const cellWidth = width / 9.0;
    // const cellHeight = height / 10.0;
    // var rectsXY = []
    // for (let i = 0; i < 9; i++)
    //   for (let j = 0; j < 10; j++)
    //     rectsXY.push({ "x": cellWidth * i, "y": cellHeight * j });
    // g.selectAll().data(rectsXY).enter().append("rect")
    //   .attr("x", d => d.x).attr("y", d => d.y)
    //   .attr("class", "map_gridCell")
    //   .attr("width", cellWidth).attr("height", cellHeight);

  });
  </script>
</head>

<body>
  <svg>
</body>

</html>