<h1>{{ distillery }}</h1>

<ul>

    <li>name: {{ distillery.name }}</li>
    <li>slug: {{ distillery.slug }}</li>
    <li>location: {{ distillery.location }}</li>
    <li>region: {{ distillery.region }}</li>
    <li>owner: {{ distillery.owner }}</li>
    <li>year_established: {{ distillery.year_established }}</li>
    <li>year_closed: {{ distillery.year_closed }}</li>
    <li>year_demolished: {{ distillery.year_demolished }}</li>
    <li>image_url: {{ distillery.image_url }}</li>
    <li>logo_url: {{ distillery.logo_url }}</li>
    <li>company: {{ distillery.company }}</li>

</ul>
